.h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #26a69a;
    text-align: start !important;
}
.chat-message{
    color: black;
}


section#timeline {
    padding-top: 0px !important;
    text-align: center;
}

.inner {
    width: 103% !important;
    border-radius: 6px;
}


.col-md-5 {
      width: 47.666667% !important;
}

section#timeline article div.inner h2 {
    color:#26a69a !important;
    padding: 15px;
    margin: 0;
    font-size: 20px;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
}